Repository daegwan00/terraform-provisioning: changes, and which Atlantis projects are due for each by the changed paths.
All: ecr/dg-id/ap-northeast-2, vpc/tmcd_apnortheast2, vpc/testd_apnortheast2, iam/dg-id, kms/dg-id/ap-northeast-2, ssm/dg-id/ap-northeast-2, securitygroup/dg-id/tmcd_apnortheast2, secretsmanager/dg-id/ap-northeast-2, ecs/demo/tmcd_apnortheast2, github/springboot-sample, github/terraform-provisioning

Path conditions:
  ecr/dg-id/ap-northeast-2: any of: terraform/ecr/dg-id/ap-northeast-2/*.tf
  vpc/tmcd_apnortheast2: any of: terraform/vpc/tmcd_apnortheast2/*.tf, terraform/vpc/tmcd_apnortheast2/*.tfvars
  vpc/testd_apnortheast2: any of: terraform/vpc/testd_apnortheast2/*.tf, terraform/vpc/testd_apnortheast2/*.tfvars
  iam/dg-id: any of: terraform/iam/dg-id/*.tf
  kms/dg-id/ap-northeast-2: any of: terraform/kms/dg-id/ap-northeast-2/*.tf
  ssm/dg-id/ap-northeast-2: any of: terraform/ssm/dg-id/ap-northeast-2/*.tf, terraform/ssm/dg-id/ap-northeast-2/secrets.sops.yaml
  securitygroup/dg-id/tmcd_apnortheast2: any of: terraform/securitygroup/dg-id/tmcd_apnortheast2/*.tf, terraform/securitygroup/dg-id/tmcd_apnortheast2/terraform.tfvars
  secretsmanager/dg-id/ap-northeast-2: any of: terraform/secretsmanager/dg-id/ap-northeast-2/*.tf, terraform/secretsmanager/dg-id/ap-northeast-2/terraform.tfvars, terraform/secretsmanager/dg-id/ap-northeast-2/*.sops.yaml
  ecs/demo/tmcd_apnortheast2: any of: terraform/ecs/demo/tmcd_apnortheast2/*.tf, terraform/ecs/demo/tmcd_apnortheast2/terraform.tfvars
  github/springboot-sample: any of: github/springboot-sample/*.tf, github/springboot-sample/*.yaml
  github/terraform-provisioning: any of: github/terraform-provisioning/*.tf, github/terraform-provisioning/*.yaml

fix atlantis yaml
  atlantis.yaml
Due: none

test
  github/terraform-provisioning/variables.tf
Due: github/terraform-provisioning

test
  atlantis.yaml
  github/terraform-provisioning/variables.tf
Due: github/terraform-provisioning

test2
  github/terraform-provisioning/variables.tf
Due: github/terraform-provisioning

add tfvars, kms
  atlantis.yaml
  github/terraform-provisioning/github_action_value.tf
  terraform/iam/dg-id/remote_state.tf
  terraform/iam/dg-id/terraform.tfvars
Due: iam/dg-id, github/terraform-provisioning

test2
  github/terraform-provisioning/github_action_value.tf
  github/terraform-provisioning/variables.tf
Due: github/terraform-provisioning

git provider
  github/terraform-provisioning/github_action_value.tf
Due: github/terraform-provisioning

untracked file
  .terraform.lock.hcl
  backend.tf
  github_action_value.tf
  provider.tf
  springboot-sample/.terraform.lock.hcl
  springboot-sample/backend.tf
  springboot-sample/data.tf
  springboot-sample/local.tf
  springboot-sample/provider.tf
  springboot-sample/secret.tf
  springboot-sample/secrets.sops.yaml
  springboot-sample/variables.tf
  springboot-sample/version.tf
  variables.tf
  version.tf
Due: none

test
  atlantis.yaml
  github/terraform-provisioning/github_action_value.tf
  terraform/iam/dg-id/remote_state.tf
  terraform/iam/dg-id/terraform.tfvars
Due: iam/dg-id, github/terraform-provisioning
